@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* Scrollbar colors, swiper navigation arrow styles*/
:root {
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --swiper-navigation-color: #f7df2f;
}

/* Base setting */
html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Fredoka', cursive;
  overflow-x: hidden;
}


/* Animation for logo in Navigation component */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.group:hover .logo-wiggle {
    animation: wiggle 2s ease-in-out;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-sky-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow-300);
  border-radius: 10px;
  border: 2px solid var(--color-sky-100);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow-400);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-yellow-500);
}


/* Number input styles */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Animation for number to check transition in ProgressBar component */
@keyframes checkPop {
  0% { transform: scale(0) rotate(-180deg); opacity: 1; }
  50% { transform: scale(1.2) rotate(10deg) }
  100% { transform: scale(1) rotate(0deg); opacity: 1; }
}

.animate-check {
  animation: checkPop 0.4s ease-out;
}

/* Animation for VirtualAdoption page content */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

